#build {
	margin: 15px auto;
	width: 80%;
	margin-bottom; 20px;
	border: 1px solid #dddddd;
	border-collapse; collapse
}
#build th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
#build td {
	border: 1px solid #dddddd;
	padding: 5px;
}
svg {
    width: 800px;
    height: 400px;
}
svg text {
    font: 8px Verdana;
}
svg path, line {
    fill: none;
    stroke: #333333;
    width: 1px;
}