block variables
- var title = 'Самые высокие здания и сооружения'
	-
		var dictMenu = {'Главная': 'index.html', 
				'Небоскребы' : "#",  
				'Башни': "#", 
				'Список': "#"
		}
		
	- var listImages = ['image1.jpg', 'image2.jpg', 'image3.jpg', 'image4.jpg', 'image5.jpg']

	- 
		var listSections = [
			{'header' : 'Бурдж-Халифа в Дубае, ОАЭ',
			'image' : 'image7.jpg', 
			'text' : 'Небоскрёб высотой 828 метров, самое высокое сооружение в мире. Форма здания напоминает сталагмит.'
			},
			{'header' : 'Токийское небесное дерево, Япония',
			'image' : 'image6.jpg', 
			'text' : 'Телевизионная башня в районе Сумида самая высокая среди телебашен мира. Высота телебашни вместе с антенной составляет 634 метра.'
			},
			{'header' : 'CN Tower, Канада',
			'image' : 'image8.jpg', 
			'text' : 'Си-Эн Тауэр  — самое высокое свободно стоящее сооружение в мире с 1976 по 2007 год. Его высота составляет 553,33 метра.'
			}
		]
	-
		var structures = [
		{
			menuItem: "Ворота Запада, США",
			pict: "image1_big.jpg",
			firstP: `Арка в Сент-Луисе, также известная под именем «Врата на запад» — мемориал, являющийся частью Джефферсоновского национального экспансиального мемориала, а также визитной карточкой Сент-Луиса, штат Миссури, США.`,
			secondP: `Арка была спроектирована финско-американским архитектором Ээро Саариненом в 1947 году. Её высота 192 метра в самой высокой точке, ширина её основания также 192 метра. 
			Таким образом арка является самым высоким памятником на территории США. Её строительство началось 12 февраля 1963 года и было закончено 28 октября 1965 года. Памятник открылся для посетителей 24 июля 1967 года.`
		}
		]