extends template
block header
    h2= 'Врата на запад, США'
block nav

    nav
        +createMenuBuilding(dictMenu, 'Врата на запад, США')
    
block content

    img.big(src= require("../images/" + structures[0].pict))

    section
        p= structures[0].firstP
        p= structures[0].secondP