extends template

block nav
    nav
        +createMenu(dictMenu, 'Главная')
        
block content
    div.images
        each pict in listImages
            a(href= "building.html")
                img(src= require("../images/" + pict))

    article
        each item in listSections
            section
                h3= item.header
                img(src= require("../images/"  + item.image))
                p= item.text
                    a(href="#") &hellip;