extends ../components/template
block menu
    +createMenu(0)
block body
    +createGallery(['inter', 'one', 'jen', 'razr', 'sinester'])
    .film_page
        img(src= require(`../images/${data["films"][0]["file"]}.jpg`))
        p= data["films"][0]["descr"]